/node_modules
/public/hot
/public/storage
/public/helpdesk_image
/storage/*.key
/vendor

composer.lock
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.idea/
.idea
.idea/*
.run/*





